$transition_attr: all 0.4s ease;
.blog-list {
	@media (max-width: 767px) {
		max-width: 100%;
	}
	.entry-image {
		overflow: hidden;
		display: block;
		width: 100%;
		height: auto;
		a {
			display: block;
		}
		img {
			transition: all 0.4s ease !important;
			margin: 0;
			&:hover {
				transform: scale(1.05);
				cursor: pointer;
			}
		}
	}
	.entry-content {
		padding: 10px 0 2rem;
		margin-bottom: 30px;
		border-bottom: 1px solid rgba($grey, 0.1);
		article {
			@include fonts();
			span {
				color: rgba($grey, 0.6);
				font-size: 90%;
				line-height: 1.5;
				@include fonts();
			}
			h2 {
				margin-bottom: 10px;
				font-size: 1.45rem;
				font-weight: 500;
				@media (min-width: 480px) {
					font-size: 1.8rem;
				}
				@media (min-width: 768px) {
					font-size: calc(2.4rem * 0.8);
					margin-top: 10px;
				}
				.blog-title {
					color: $grey;
					transition: $transition_attr;
					text-decoration: none;
					&:hover {
						text-decoration: none;
						color: $red;
					}
				}
			}
			p {
				margin-top: 25px;
				opacity: 0.95;
				@include fonts();
				color: $grey;
				font-size: 16px;
			}
		}
		.readmore {
			text-decoration: none;
			background-color: $red2;
			color: $white;
			font-size: 80%;
			transition: $transition_attr;
			padding: 10px 25px;
			line-height: 22px;
			border-radius: 30px;
			letter-spacing: 1px;
			border: none;
			font-weight: 400px;
			&:hover {
				background-color: $red;
			}
		}
	}
}

.blog-list-main {
	@media (max-width: 767px) {
		max-width: 100% !important;
	}
	.arrow {
		.arrow-btn {
			text-decoration: none;
			background-color: $red2;
			color: $white;
			font-size: 80%;
			transition: $transition_attr;
			padding: 10px 25px;
			line-height: 22px;
			border-radius: 30px;
			letter-spacing: 1px;
			border: none;
			font-weight: 400px;
			&:hover {
				background-color: $red;
			}
			.arrow-icon {
				color: $white;
				font-size: 70%;
			}
		}
	}
	margin-bottom: 50px;
	@media (min-width: 768px) {
		margin-bottom: 80px;
	}
	@media (min-width: 992px) {
		margin-bottom: 100px;
	}
}
