.arrow-btn {
	text-decoration: none;
	background-color: var(--theme-red2);
	color: var(--theme-white);
	font-size: 80%;
	transition: all 0.4s ease;
	padding: 10px 25px;
	line-height: 22px;
	border-radius: 30px;
	letter-spacing: 1px;
	border: none;
	font-weight: 400px;
	&:hover {
		background-color: var(--theme-red);
		color: var(--theme-white);
		text-decoration: none;
	}
}
.arrow-icon {
	color: var(--theme-white);
	font-size: 70%;
}
