# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env*

# Astro build folder
dist/

# Astro cache folder
.astro/

# Local Netlify folder
.netlify/

# System files
.DS_Store
Thumbs.db
