.blog-header {
  position: relative;
  height: 400px;
  color: #fff;
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.blog-list-main {
  margin-top: 100px;
  .arrow {
    padding-top:2%;
    padding-bottom: 5%;
    .arrow-btn {
      padding: 8px 20px 10px;
      border-radius: 0;
      background: #e10332;
      .arrow-icon {
        color: #fff;
        font-size: 70%;
      }
    }
    .arrow-btn:hover {
      background: #af0227;
    }
  }
}  
