div.latest-blog {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba($grey, 0.05);
  span {
    @include fonts();
  }
  h2 {
    font-weight: 300;
    margin-bottom: 30px;
    color: $grey;
    font-size: 1.8rem;
    @include media-breakpoint-up(md) {
      font-size: 2.4rem;
    }
  }
  .latest-blog-wrapper {
    justify-content: center;
    padding: 8px;
    @include media-breakpoint-up(md) {
      width: 750px;
    }
    @include media-breakpoint-up(lg) {
      padding: 0;
      width: 970px;
    }
    @include media-breakpoint-up(xl) {
      width: 1170px;
    }
    .blog-out {
      display: inline-block;
    }
    .blogs {
      border: 1px solid rgba($grey, 0.12);
      background: $white;
      border-radius: 5px;
      @include media-breakpoint-up(lg) {
        margin: 0 10px;
      }
      a.latest-blog {
        text-decoration: none;
        h3 {
          color: $grey;
          width: 100%;
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 10px;
        }
        .thumb {
          position: relative;
          overflow: hidden;
          .cat {
            position: absolute;
            top: 10px;
            left: 10px;
            color: $white;
            border-radius: 20px;
            border: 2px solid rgba($white, 0.8);
            background: rgba($grey, 0.25);
            padding: 5px 15px;
            font-size: 90%;
            text-transform: uppercase;
          }
        }
        &:hover {
          .thumb {
            img {
              transform: scale(1.05);
              cursor: pointer;
            }
          }
        }
        img {
          transition: all 0.4s ease !important;
        }
      }

      .readmore-link {
        display: inline-block;
        margin: 10px auto 30px;
        .read-more {
          display: inline-block;
          text-decoration: none;
          color: rgba($white, 0.85);
          background: $grey2;
          font-size: 14px;
          font-weight: 700;
          padding: 10px 25px;
          letter-spacing: 1px;
          border-radius: 30px;
        }
      }

      .readmore_link {
        display: flex;
      }

      .content {
        padding: 50px 50px 20px;
        .blog-excerpt {
          padding-bottom: 20px;
          text-align: left;
          color: rgba($grey, 0.6);
          margin: auto;
        }
        .feature-date {
          color: rgba($grey, 0.7);
          border-radius: 20px;
          background: rgba($grey, 0.05);
          padding: 5px 15px;
          margin-bottom: 10px;
          font-size: 80%;
          font-weight: 700;
          display: inline-block;
          letter-spacing: 1px;
        }
      }

      .content_wrap {
        display: flex;
        flex-flow: column;
        align-items: flex-start;

        h3 {
          text-align: left;
        }
      }
    }
  }
}
