main.page {
  .posts {
    .pages {
      p {
        font-size: 16px;
      }
      &.post {
        h1,
        h2,
        h3 {
          text-align: left;
          font-weight: 500;
        }
        h2 {
          font-size: 2.4rem;
          @include media-breakpoint-down(md) {
            font-size: 1.8rem;
            margin: 10px 0;
          }
        }
        h3 {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
        .gatsby-resp-image-wrapper {
          animation: fadeInUp 2s;
          margin-bottom: 50px;
          box-shadow: 0 0 10px 0 rgba($black, 0.5);
        }

        p:has(img) {
          text-align: center;
        }
      }
    }
  }
}
