.feature-page {
	padding: 100px 30px;
	p {
		color: $white;
		float: right;
	}
}
.feature-page-body {
	padding: 40px 50px 0;
	p {
		@include fonts();
		color: $grey;
		font-size: 18px;
	}
}
.feature-body-list {
	width: 90%;
	margin: 0 auto;
}
