.feature-page {
  padding: 100px 30px;
  p {
    color: $white;
    float: right;
  }
}
.feature-page-body {
  padding: 40px 50px 0;

  .feature_body_title {
    display: flex;
    justify-content: center;
    width: 100%;

    h2 {
      font-weight: 300;
      margin-bottom: 30px;
      color: $grey;
      font-size: 1.8rem;
      @include media-breakpoint-up(md) {
        font-size: 2.4rem;
      }
    }
  }

  p {
    @include fonts();
    color: $grey;
    font-size: 18px;
  }
}
.feature-body-list {
  width: 90%;
  margin: 0 auto;
}
