.sign-up {
	.include h4 {
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.list-group {
		margin: 0;
		li {
			@include fonts();
			list-style: none;
			padding: 2px 0 4px 36px;
			color: $grey;
			h5 {
				font-size: 20px;
				opacity: 0.9;
			}
		}
	}
	label {
		@include fonts();
		display: block;
		color: $grey;
		margin-bottom: 0;
		small {
			color: #999;
		}
	}
	.sign-up-form {
		margin-top: 10%;
		.input-group .form-control {
			border-radius: 0 !important;
			height: 36px;
		}
		.user-input-form {
			.form-control {
				font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu, Cantarell, 'Helvetica Neue';
				border: 2px solid $etch;
				border-radius: 0.5rem;
				color: $black;
				padding: 0.25em 0.75em;
				outline: 0;
				box-shadow: none;
				font-size: 13px * 1.125;
				&::placeholder {
					font-size: 13px;
				}
			}
			.form-control {
				&:focus,
				&:hover {
					border: 2px $green solid;
				}
			}
			.error {
				border-color: $red;
			}
			.error-message {
				color: $red;
			}
			.trial {
				border-radius: 0.5rem;
				padding: 0.5em 1.5em;
				&:disabled {
					opacity: 1;
					background-color: $etch;
					border-color: $etch;
					color: #777;
				}
				&:not(:disabled) {
					&:hover,
					&:active {
						background: $green_hover;
						border-color: $green_hover;
						color: $green_text;
					}
				}
			}
			.form-group {
				h6 {
					font-size: 14px;
					font-weight: 400;
					opacity: 0.9;
				}
				a {
					text-decoration: none;
					color: $red;
					&:hover {
						color: $red_hover;
					}
				}
			}
			footer {
				padding: 1em 0;
			}
		}
		.input-group-prepend,
		.input-group-append {
			.input-group-text {
				border: 2px solid $etch;
				transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
				font-size: 13px;
				color: #555;
			}
		}
		.input-group-prepend {
			.input-group-text {
				border-right-width: 0 !important;
				border-top-left-radius: 0.5rem;
				border-bottom-left-radius: 0.5rem;
			}
		}
		.input-group-append {
			.input-group-text {
				border-left-width: 0 !important;
				border-top-right-radius: 0.5rem;
				border-bottom-right-radius: 0.5rem;
			}
		}
		.account-address {
			.form-control,
			.spinner-border-block {
				border-left: 0 !important;
				border-right: 0 !important;
			}
			label:hover,
			.input-group.focused {
				.input-group-text,
				.spinner-border-block {
					border: 2px $green solid;
				}
			}
			label:hover .form-control {
				border-color: $green;
			}
			.input-group.error {
				.input-group-text,
				.form-control,
				.spinner-border-block {
					border-color: $red;
				}
			}
			.spinner-border-block {
				border: 2px solid $etch;
				transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
				padding: 0 4px;
				.spinner-border {
					vertical-align: bottom;
				}
			}
		}
		.spinner-border.text-success {
			color: $green !important;
		}
	}
}

@import 'faq';
