$red: #e10332;
$red2: #af0227;
$red_hover: #960221;
$green: #72be1a;
$green_hover: #8ce229;
$green_text: #3c640e;
$black: #000;
$grey: #323a46;
$grey2: #475364;
$mid_grey: #999;
$light_grey: #ccc;
$etch: #e5e5e5;
$white: #fff;
$blue: #39f;

$attendance_color: #4caf50;
$child_color: #e91e63;
$event-booking_color: #ff5722;
$groups_color: #ff9800;
$process_automation_color: #3f51b5;
$giving_color: #009688;
$forms_surveys_color: #673ab7;
$online-stores_color: #00bcd4;
$scheduling_color: #cddc39;
$people_color: #2196f3;
$security_color: $black;

$light: $etch;
$theme-colors: (
	'primary': $green,
	'danger': $red,
);

@import 'bootstrap/scss/bootstrap.scss';

@import '../../node_modules/@fortawesome/fontawesome-svg-core/styles.css';

@import '../common/mixins';
@import '../common/common';
@import '../common/404';

@import '../components/header';
@import '../components/layout';
@import '../components/page-header';

@import '../components/home/church';
@import '../components/home/management';
@import '../components/home/features';
@import '../components/home/devices';
@import '../components/home/testimonials';
@import '../components/home/ministry';

@import '../components/blogs/posts';
@import '../components/blogs/post';
@import '../components/blogs/latest-blog';

@import '../components/page';

@import '../components/features/feature-list';

@import './features';
@import './pricing';
@import './sign-up';
