$church-manage-background-height: 960px;
.church-manage {
  height: $church-manage-background-height;
  position: relative;
  .church-manage-title {
    margin-top: $church-manage-background-height / 2;
    color: rgba(255, 255, 255, 0.9);
    h1 {
      font-weight: 400;
    }
  }
}