$church-manage-background-height: 100vh;
.church-manage {
  height: $church-manage-background-height;
  position: relative;
  .church-manage-title {
    h1 {
      font-feature-settings: "liga" 0;
      font-family: "lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding-top: 45vh;
      font-size: 320%;
      @media screen and (max-width: 770px){
        font-size: 240%;
      }
      em {
        font-style: normal;
        font-size: 100%;
        font-weight: 300;
      }
      strong {
        display: inline-block;
        font-weight: 700;
      }
    }
  }
}

.sidebar-inactive {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow: hidden;
  transition: 0.5s;
  width: 0px;
}
.sidebar-active {
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px;
  width: 250px;
}
.sidebar {  
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  a:hover {
    color: #f1f1f1;
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
  }
  .openbtn {
    position: absolute;
    left: 0px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ddd;
    padding: 10px 15px;
    border: none;
    outline: none;
    box-shadow: none;
    transition: all .5s ease;
    border-left: 1px solid #ddd;
  }
  .openbtn:hover {
    background-color: #fff;
  }
  #main {
    transition: margin-left .5s;
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
}