.features {
  background-color: rgba(50,58,70,.025);
  margin-top: 70px;
  .features-title {
    padding-top: 70px;
  }
  .explore-more {
    padding-top: 10%;
    padding-bottom: 10%;
    .explore-more-btn {
      background: #475364;
      color: #fff;
      text-decoration: none;
      padding: 10px 25px;
      font-size: 14px;
      border-radius: 30px;
      font-weight: 700;
      letter-spacing: 1px;
      transition: all .4s ease;
      line-height: 22px;
    }
    .explore-more-btn:hover {
      background: #323a46;
      text-decoration: none;
    }
  }
}


.circle {
  background-color: #4caf50;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 20px;
  border-radius: 50%;
  color: #fff;
  font-size: 60px;
  h6 {
    font-size: 80%;
    color: #000;
  }
}