.ministry {
	padding-top: 70px !important;
	padding-bottom: 70px !important;
	h2 {
		color: $grey;
		font-weight: 100;
		margin: 10px 0;
		font-size: 1.8rem;
		@media (min-width: 768px) {
			font-size: 2.4rem;
		}
	}
	h5 {
		font-weight: 400;
		color: $grey;
		font-size: 1.2rem;
		margin-bottom: 20px;
	}
	h6 {
		color: rgba($grey, 0.6);
		font-size: 1rem;
		line-height: 1.428571429rem;
		font-weight: 400;
	}
	p {
		@include fonts;
		color: $grey;
	}
	.ministry-circle {
		width: 100px;
		height: 100px;
		border: 2px solid $grey;
		border-radius: 50px;
		margin: 0 auto 20px;
		svg {
			margin-top: 20px;
		}
	}
	.col-md-4 {
		padding-left: 25px;
		padding-right: 25px;
		margin-top: 50px;
	}
	@media (min-width: 768px) {
		.visible-xs {
			display: none !important;
		}
	}
}
