$color-red: #e10332;
$color-red-hover: $red_hover;
.pricing {
	padding: 50px 30px 30px !important;
	@media (min-width: 1200px) {
		padding-top: 100px !important;
		padding-bottom: 100px !important;
	}
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	// darken background
	position: relative;
	&:before {
		content: '';
		background: rgba(50, 58, 70, 0.1);
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
	p,
	small,
	output {
		@include fonts;
	}
	.only-pay-container {
		@media (min-width: 1200px) {
			display: flex;
			align-items: flex-end;
		}
		.only-pay {
			h2 {
				text-transform: uppercase;
				font-weight: 700;
				text-align: center;
				font-size: 2rem;
				@media (min-width: 480px) {
					font-size: 1.8rem;
				}
				@media (min-width: 768px) {
					font-size: 2.4rem;
				}
				@media (min-width: 1200px) {
					text-align: left;
					margin-bottom: 0;
				}
			}
		}
	}
	.price-calc {
		padding: 30px;
		margin-top: 40px;
		@media (min-width: 768px) {
			max-width: 650px;
			margin: auto;
			margin-top: 40px;
		}
		@media (min-width: 1200px) {
			margin: 0;
			padding: 50px;
		}
		color: #323a46;
		width: 100%;
		text-align: center;
		background: hsla(0, 0%, 100%, 0.9);
		h4 {
			width: 80%;
			margin: auto;
			font-weight: 700;
			margin-bottom: 10px;
			font-size: 1.2rem;
			@media (min-width: 480px) {
				width: auto;
			}
		}
		h6 {
			font-weight: 500;
			font-size: 1.3rem;
			@media (min-width: 480px) {
				font-size: 1.2rem;
			}
			@media (min-width: 1200px) {
				.pricing-total {
					font-size: 1.3rem;
				}
			}
		}
		span {
			display: inline-block;
			background-color: rgba(50, 58, 70, 0.6);
			font-weight: 700;
			border-radius: 25px;
			padding: 3px 15px;
			margin: 0 3px;
			color: #fff;
		}
		p {
			margin: auto;
			color: $grey_color;
			margin-bottom: 10px;
			&:nth-of-type(2) {
				margin-bottom: 30px;
			}
			@media (min-width: 480px) {
				font-size: 1rem;
			}
		}
		.slider {
			margin-bottom: 32px;
			width: 100%;
			height: 10px;
			background-color: rgba(50, 58, 70, 0.08);
		}
		.pricing-range-bar {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			margin: auto;
			width: 95%;
			line-height: 1em;
			small {
				display: block;
				padding-top: 10px;
				padding-bottom: 20px;
				margin-top: 20px;
				color: $grey;
				font-size: 85%;
				@media (min-width: 480px) {
					font-size: 75%;
				}
			}
		}
		.pricing-range-slider {
			height: 36px;
			display: flex;
			width: 100%;
		}
		.range-background {
			align-self: center;
			box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
		}
		.faq {
			color: $color-red;
			text-decoration: none;
			&:hover {
				color: $color-red-hover;
				text-decoration: underline;
			}
		}
	}

	.pricing-total {
		font-weight: 400;
		font-size: 90%;
		a {
			color: $color-red;
			text-decoration: none;
			&:hover {
				color: $color-red-hover;
			}
		}
	}
}
.row {
	margin-left: 0;
	margin-right: 0;
}
