@mixin trial-btn {
	@include fonts();
	background: $green;
	transition: all 0.4s ease;
	color: rgba($white, 0.85);
	text-decoration: none;
	border: none;
	letter-spacing: 0;
	text-transform: uppercase;
	padding: 10px 25px;
	line-height: 22px;
	border-radius: 30px;
	font-weight: 700;
	font-size: 15px;
	transition: all 0.4s ease !important;
	&:hover,&:active {
		background: $green_hover;
		color: $green_text;
	}
}
.navbar {
	transition: all 0.4s ease;
	.brand {
		position: fixed;
		z-index: 1;
		left: 15px;
		& > div {
			position: relative;
			transition: top 0.4s ease;
			top: -25px;
			@include media-breakpoint-up(md) {
				top: -40px;
			}
			@include media-breakpoint-up(lg) {
				top: -50px;
			}
		}
		a {
			transition: width 0.4s ease;
			position: absolute;
			display: inline-block;
			text-align: left;
			width: 120px;
			@include media-breakpoint-up(md) {
				width: 230px;
			}
		}
		img {
			transition: all 0.4s ease;
			height: 40px;
			margin: 0;
			@include media-breakpoint-up(md) {
				margin: 15px 0;
				height: 60px;
			}
			@include media-breakpoint-up(lg) {
				height: 70px;
			}
		}
	}
	#ucare-heart img {
		opacity: 0;
	}
	#ucare-logo img {
		opacity: 1;
	}
	&.bg-lights {
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		.brand {
			& > div {
				top: -20px;
				@include media-breakpoint-up(md) {
					top: -35px;
				}
				@include media-breakpoint-up(lg) {
					top: -40px;
				}
			}
			a {
				width: 150px;
			}
		}
		img {
			height: 40px;
			@include media-breakpoint-up(lg) {
				height: 50px;
			}
		}
		#ucare-heart img {
			opacity: 1;
		}
		#ucare-logo img {
			opacity: 0;
		}
	}
	.hide-logo img {
		opacity: 0 !important;
	}
	.navbar-nav {
		.nav-item {
			@include fonts();
			font-size: 15px;
			font-weight: 600;
			text-transform: uppercase;
			color: rgba($white, 0.9);
			letter-spacing: 2px;
			text-decoration: none;
			margin: 12px;
			transition: all 0.3s ease-in;
			cursor: pointer;
			padding-bottom: 10px;
			border-bottom: 2px solid transparent;
			&:hover {
				padding-bottom: 5px;
				border-bottom-color: rgba($white, 0.9);
				color: rgba($white, 0.9);
			}
		}
		.item-down {
			color: $grey;
			&:hover {
				color: darken($red, 5%);
				border-bottom: 2px solid rgba(darken($red, 5%), 0.75);
			}
		}
	}
	.trial-btn {
		@include trial-btn;
		position: fixed;
		right: 15px;
		z-index: 4;
		letter-spacing: 1px;
		@include media-breakpoint-down(md) {
			position: relative;
			right: 0px;
			margin: auto;
		}
		@media (max-width: 390px) {
			transform: scale(0.75);
		}
		transition: opacity 0.4s ease;
	}
	@include media-breakpoint-down(md) {
		.trial-hide {
			opacity: 0;
			animation: 0.5s visibilityOut;
		}
	}
	.hamburger {
		cursor: pointer;
		background-color: transparent;
		padding: 10px 20px;
		border: none;
		outline: none;
		box-shadow: none;
		border-left: 1px solid rgba($white, 0.5);
		transition: all 0.5s ease;
		position: fixed;
		right: 0;
		width: 74px;
		height: 40px;
		z-index: 5;
		@include media-breakpoint-up(lg) {
			visibility: hidden;
		}
		& > div {
			transition-duration: 0.8s;
			transform: rotate(0);
		}
	}
	.hamburger-active {
		margin-right: 250px;
		& > div {
			transform: rotate(180deg);
		}
	}
	.hamburger-inactive {
		transition-duration: 0.8s;
	}
	.hamburger-below {
		border-left: 1px solid rgba($black, 0.1);
	}
	.sidebar {
		position: fixed;
		white-space: nowrap;
		z-index: 5;
		padding-top: 20px;
		height: 100vh;
		top: 0;
		right: 0;
		overflow-x: hidden;
		overflow: hidden;
		background: $grey !important;
		width: 250px !important;
		transform: translateX(250px) !important;
		.sidebar-item {
			font-size: 20px;
			text-align: left;
			color: white;
			font-weight: 400;
			text-transform: uppercase;
			padding: 10px 20px;
			border: none !important;
			letter-spacing: 1px;
			text-shadow: none !important;
			transition: all 0 7s ease-in-out;
			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					transition-delay: 80ms * $i;
				}
			}
		}
		.trials-free-btn {
			@include trial-btn;
			font-size: 16px;
			width: 90%;
			margin: auto;
		}
	}
	.sidebar-inactive {
		transition-duration: 0.7s;
		.sidebar-item {
			transform: translateX(50px) !important;
			transition-duration: 0.7s;
			opacity: 0;
		}
	}
	.sidebar-active {
		transition-duration: 0.7s;
		transform: translateX(0) !important;
		border-left: 1px solid #272e37;
		.sidebar-item {
			transform: translateX(0) !important;
			transition-duration: 0.7s;
			opacity: 1;
		}
	}
}
.navbar-trans {
	height: 91px;
	background-color: transparent;
	@include media-breakpoint-down(md) {
		height: 80px;
	}
}
.bg-lights {
	padding: 0px;
	height: 60px;
	background-color: rgba($white, 0.98);
	border-bottom: 1px solid rgba($grey, 0.1) !important;
	@include media-breakpoint-down(md) {
		height: 60px;
	}
}
.sidebar {
	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	}
	a:hover {
		color: #f1f1f1;
	}
	.closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-right: 50px;
	}
	.openbtn {
		position: absolute;
		left: 0px;
		font-size: 20px;
		cursor: pointer;
		background-color: #ddd;
		padding: 10px 15px;
		border: none;
		outline: none;
		box-shadow: none;
		transition: all 0.5s ease;
		border-left: 1px solid #ddd;
	}
	.openbtn:hover {
		background-color: $white;
	}
	#main {
		transition: margin-left 0.5s;
		padding: 16px;
		padding-left: 20px;
		padding-right: 20px;
	}
}
