$trial-color: #72be1a;
$trial_hover_color: #8ce229;
$menuOpen: false;
.navbar-below {
  border-bottom: 1px solid rgba(0,0,0,.1)!important;
}
.navbar {
  transition: all .6s ease;
  height: 10vh;
  .trials-free-btn {
    background: $trial-color;
    padding: 10px 25px;
    line-height: 22px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
    transition:all .4s ease;
    color: hsla(0,0%,100%,.85);
    text-decoration: none;
    border: none;
    text-transform: uppercase;
  }
  .trials-free-btn-mobile {
    @extend .trials-free-btn;
    margin-left: 0px;
  }
  .smallest-trial {
    @extend .trials-free-btn;
    font-size: 80%;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 100;
    z-index: 0;
  }
  .trials-free-btn:hover {
    background: $trial_hover_color;
    color: #3c640e;
  }
  .nav-item {
    color: hsla(0, 0%, 100%,.9);
  }
  .item {
    font-size: 16px;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%,.9);
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 15px;
    cursor: pointer;
  }
  .item:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid hsla(0, 0%,   100%, .9);
    transition: all .3s ease-in;
  }
  .sidebar-active {
    width: 250px;
    overflow: hidden;
    display: inline-block;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.2,0.5,0.3,1);
  }
  .sidebar-inactive {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.2,0.5,0.3,1);
    visibility: hidden;
  }
  .sidebar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(50, 58, 70);
    overflow: hidden;
    padding-top: 20px;
    white-space: nowrap;
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
    }
    a:hover {
      color: #f1f1f1;
    }
    .trials-free-btn-mobile {
      @extend .trials-free-btn;
      width: 80%;
      margin-top: 16px;
      margin-left: 28px;
    }
  }
  .hamburger {
    position: absolute;
    font-size: 20px;
    top: 10px;
    cursor: pointer;
    background-color: transparent;
    padding: 10px 20px;
    border: none;
    outline: none;
    box-shadow: none;
    border-left: 1px solid #fff;
    transition: all .5s ease;
  }
  .hamburger-active {
    right: 250px;
    $menuOpen: true;
  }
  .hamburger-inactive {
    right: 0px;
    $menuOpen: false;
  }
  .hamburger-below {
    padding-top: 22px;
    padding-bottom: 22px;
    top: 0px;
    border-left: 1px solid rgba(0, 0, 0, .1)
  }
}