.fade-in-up {
	animation: fadeInUp 2s;
}
.fade-in-left {
	animation: fadeInLeft 2s;
}
.fade-in-right {
	animation: fadeInRight 2s;
}
.fade-in-hidden {
	opacity: 0;
}
.fade-in {
	animation: fadeIn 2s;
}
.pages {
	p {
		font-size: 15px;
		color: var(--theme-grey);
		img {
			margin-bottom: 50px;
		}
	}
	h1,
	h2 {
		text-align: center;
		color: var(--theme-grey);
	}
	h2 {
		margin-top: 50px;
		font-size: 1.5rem;
		font-weight: 300;
	}
	h3 {
		margin-top: 50px;
		font-size: 120%;
	}
	h4 {
		font-weight: 300;
	}
	a {
		text-decoration: none;
		color: var(--theme-red);
		&:hover {
			color: var(--theme-red_hover);
		}
	}
}
.post ul li {
	background: none;
	list-style: disc;
	padding: 0;
}
html,
body {
	height: 100%;
	margin: 0;
}
.flipX {
	transform: scaleX(-1);
}
// .calendly-overlay .calendly-popup {
// 	@media (min-width: 976px) {
// 		max-height: 1100px !important;
// 	}
// 	@media (min-width: 1266px) {
// 		max-height: 720px !important;
// 	}
// }
