$red: #e10332;
$red_hover: #960221;
$grey: #323a46;
$green: #72be1a;
$green_hover: #8ce229;
$green_text: #3c640e;
$etch: #e5e5e5;

.fade-in-up {
	animation: fadeInUp 2s;
}
.fade-in-left {
	animation: fadeInLeft 2s;
}
.fade-in-right {
	animation: fadeInRight 2s;
}
.fade-in-hidden {
	opacity: 0;
}
.fade-in {
	animation: fadeIn 2s;
}
.pages {
	p {
		@include fonts;
		font-size: 15px;
		color: $grey;
		img {
			margin-bottom: 50px;
		}
	}
	h1,
	h2 {
		text-align: center;
		color: $grey;
	}
	h2 {
		margin-top: 50px;
		font-size: 1.5rem;
		font-weight: 300;
	}
	h3 {
		margin-top: 50px;
		font-size: 120%;
	}
	h4 {
		font-weight: 300;
	}
	a {
		text-decoration: none;
		color: $red;
		&:hover {
			color: $red_hover;
		}
	}
}
.post ul li {
	background: none;
	list-style: disc;
	padding: 0;
}
#dino {
	display: none;
}
html,
body {
	height: 100%;
	margin: 0;
}
